
@{
	ViewBag.Title = "DoctorsInfo";
	Layout = "";
}

<h2>DoctorsInfo</h2>

<title>Hospital Management System</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" href="~/Content/partialMain.css">

<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#">
					HMS
				</a>
			</li>
			<li class="sidebar-brand">
				<p style="color:#f8f8f8">Welcome @Model.Name @Model.Surname</p>
			</li>
			<li class="dashboardBtn">
				<a href="#">Dashboard</a>
			</li>
			<li class="appointmentsBtn">
				<a href="#">AppointmentsToApprove</a>
			</li>
			<li class="logoutBtn">
				<a href="#">Log out</a>
			</li>
		</ul>
	</div>

	<div id="page-content-wrapper" class="dash">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
					<h1>Dashboard</h1>
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-col appointmentsBtn">
								<div class="well">
									Appointments <code id="aptCounts">@Model.AppointmentsInfo.Count()</code>
								</div>
							</div>
							

				</div>
			</div>
		</div>
	</div>
</div>
		</div>
	</div>



	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/partialMain.js")
	<script src="https://kit.fontawesome.com/1aa2271ee2.js" crossorigin="anonymous"></script>
